.RightSide{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.navIcons{
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;

}

.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}

.link>img{
    width: 1.5rem;
    height: 1.5rem;
}